<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        body {
            background-image: url('/static/jail.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <header>
        <h1>New York Police Station</h1>
    </header>
    <main>
        <section class="content">
            <h2>Register New Criminal</h2><br>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <br><input type="file" name="file" accept="image/*" >
                <br><button class="nav-button" type="submit">Upload Image</button>
            </form>
            <button class="nav-button" onclick="changeHeaderColor()">Change Header Color</button>
        </section>
        <section class="content">
            <h2>All Criminals</h2><br>
                {{range .Images}}
                <img src="data:image/jpeg;base64,{{.}}" alt="{{.}}" width="200" height="150"/>
                {{end}}
        </section>
    </main>
    <script src="/static/script.js"></script>
</body>
<footer>
    <p>&copy; github/shnartho </p>
</footer>
</html>
